<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>603987C4-054E-4708-B31B-6021EBAE3921</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-2x</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>IBSimDeviceTypeiPad2x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-16-2</string>
	<key>runtimePolicy</key>
	<string>System</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
